*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  background-image: url(./Images/back.jpg);
           background-size: cover; 
            background-position: center;  
            background-repeat: no-repeat; 
            color: white;
  
}
a{text-decoration: none;
color: white;}
header{display: inline-flex
;margin-top: 15px;
background-color: black;
padding-top:px;
width: 100%;}
#logo{
  display: flex;
  width: 20%;;
}
#logo img{
  border: 2px solid black;
  border-radius: 200px;
  width: 50px;
  height:50px;
}
#logo h3{
  text-transform: uppercase;
  padding:15px 20px 15px 10px;
}
#nav{
  display: flex;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
  
  width: 80%;
  position: absolute;
  left: 15%;
  padding: 30px;
}

  #nav li{
    margin: 0px 20px;
   color: brown;
  
   font-size: 20px;
   font-weight: bold;
  }
  #nav li :hover{

    color:aqua;
    
  }

.slogan
{
  position: absolute;
  top: 30%;
  left:50%;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
}
.slogan h1{
 margin-bottom:50px;
 
}
.slogan p{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.option{
  position: absolute;
  top:50%;
  left: 20%;
  right: 20%;
}
.option ul{
  list-style: none;
  display: none;
}
.Social_Reformer:hover ul{
  display:block;
}


.Social_Reformer button{
  margin: 0px 2%;
  padding: 15px 20px;
  width: 100%;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 50px;
  text-transform: uppercase;
}
.Social_Reformer button:hover{
  background-color: black;
  color: white;
}

.option ul li{
  font-size: 20px;
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 70px;
  margin: 5px;

}
.option ul li:hover {
  background-color:yellow;
  /* color: black;   */
}
.option ul li a:hover{
  color:black;
}
.option{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#p1{
  padding-left: 100px;
  font-size: 20px;
}
#p2{
  font-size: 20px;
  padding-left: 28px;
}





















































